@charset "utf-8";

h1{
    text-shadow: 3px 3px 5px skyblue;
}

form {
    width: 330px;
}
th {
    padding: 10px;
}
td {
    padding: 10px;
}

fieldset {
    margin-bottom: 10px;
}

form>input {
    background-color: rgb(5, 5, 5);
    border: 0;
    padding: 4px 5px 5px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}












